h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

.list {
  list-style: none;
}

body {
  font-family: roboto, sans-serif;
  color: var(--primary-title-color);
  outline: none;
}

@font-face {
  font-family: 'raleway';
  src: local("raleway"), url("/fonts/raleway-v22-latin-700.woff2") format("woff2"), url("/fonts/raleway-v22-latin-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: local("roboto"), url("/fonts/roboto-v29-latin_cyrillic-regular.woff2") format("woff2"), url("/fonts/roboto-v29-latin_cyrillic-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: local("roboto"), url("/fonts/roboto-v29-latin_cyrillic-500.woff2") format("woff2"), url("/fonts/roboto-v29-latin_cyrillic-500.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: local("roboto"), url("/fonts/roboto-v29-latin_cyrillic-700.woff2") format("woff2"), url("/fonts/roboto-v29-latin_cyrillic-700.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'roboto';
  src: local("roboto"), url("/fonts/roboto-v29-latin_cyrillic-900.woff2") format("woff2"), url("/fonts/roboto-v29-latin_cyrillic-900.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

:root {
  --logo-color: #000000;
  --header-background-color: #ffffff;
  --hero-background-color: #2f303a;
  --hero-overlay: rgba(47, 48, 58, 0.4);
  --main-background-color: #e5e5e5;
  --command-background-color: #f5f4fa;
  --footer-background-color: #2f303a;
  --primary-title-color: #212121;
  --secondary-title-color: #ffffff;
  --primary-text-color: #757575;
  --secondary-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --header-text-color: #752054;
  --hero-text-color: #ffffff;
  --footer-logo-color: #ffffff;
  --button-hover-color: #188ce8;
  --border-bottom-color: #ececec;
  --border-cards-color: #eeeeee;
  --svg-fill: #afb1b8;
  --occupation-background: rgba(47, 48, 58, 0.8);
  --card-overlay: rgba(33, 150, 243, 0.9);
  --modal-backdrop: rgba(0, 0, 0, 0.2);
  --modal-btn-border: rgba(0, 0, 0, 0.1);
  --footer-email-input-border: rgba(255, 255, 255, 0.3);
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.link {
  text-decoration: none;
  transition-property: background-color, color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link:hover, .link:focus {
  color: var(--accent-color);
}

.btn {
  text-decoration: none;
  transition-property: background-color, color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.header-logo,
.footer-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19231;
  letter-spacing: 0.03em;
  color: var(--logo-color);
  text-decoration: none;
}

.logo-accent {
  color: var(--accent-color);
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--modal-backdrop);
  transition: opacity 300ms ease-in-out, visibility 300ms ease-in-out;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.current {
  position: relative;
}

.current::after {
  content: '';
  position: absolute;
  left: 100%;
  bottom: -33.5px;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  transform: translateX(-100%);
  background-color: var(--accent-color);
  display: block;
}

.header-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: var(--header-background-color);
  border-bottom: 1px solid var(--border-bottom-color);
  padding-top: 24px;
  padding-bottom: 25px;
}

.header > .container {
  display: flex;
  justify-content: space-between;
}

.header-list,
.header-contacts {
  display: flex;
}

.header-list-item:not(:first-child),
.header-contacts-item:not(:first-child) {
  margin-left: 50px;
}

.header-list {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.02em;
  margin-left: 93px;
}

.header-contacts {
  margin-left: auto;
  align-items: center;
}

.header-contacts .header-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

.header-contacts .contact-icon {
  fill: var(--primary-text-color);
  margin-right: 10px;
}

.header-link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-title-color);
}

.header-link:hover, .header-link:focus, .header-link.current {
  color: var(--accent-color);
}

.header-link:hover > .contact-icon, .header-link:focus > .contact-icon, .header-link.current > .contact-icon {
  fill: var(--accent-color);
}

.hero {
  background-color: var(--hero-background-color);
  padding-top: 200px;
  padding-bottom: 200px;
  justify-content: center;
  background-image: linear-gradient(var(--hero-overlay), var(--hero-overlay)), url(../images/hero-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px;
}

.hero-title {
  margin-bottom: 30px;
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  color: var(--hero-text-color);
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36364;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
}

.hero-button {
  background-color: var(--accent-color);
  color: var(--hero-text-color);
  border-radius: 4px;
  padding: 10px 32px;
  margin-right: auto;
  margin-left: auto;
  font-family: inherit;
  border: none;
  outline: none;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-button:hover, .hero-button:focus {
  background-color: var(--button-hover-color);
}

.direction {
  padding: 94px 0px;
}

.direction-img {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--command-background-color);
  width: 270px;
  height: 120px;
}

.direction-container {
  display: flex;
}

.direction-list {
  display: flex;
}

.direction-lis {
  width: 270px;
  margin-left: 0px;
}

.direction-list-item:not(:first-child) {
  margin-left: 30px;
}

.direction-title {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-color);
  margin-top: 30px;
}

.direction-text {
  margin-top: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.occupation {
  padding-bottom: 94px;
  padding-left: 15px;
  padding-right: 15px;
}

.occupation-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  text-align: center;
  margin-bottom: 50px;
}

.occupation-item {
  padding: 0;
  margin: 0;
  border: 0;
}

.occupation-item > .thumb {
  position: relative;
  width: 100%;
  height: 294px;
  padding: 0;
}

.occupation-item:not(:first-child) {
  margin-left: 30px;
}

.occupation-description {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-text-color);
  background-color: var(--occupation-background);
}

.occupation-list {
  display: flex;
}

.team {
  background-color: var(--command-background-color);
  padding: 94px 0px;
}

.team-title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  text-align: center;
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  margin-left: -30px;
  margin-top: -30px;
}

.team-list-card {
  background-color: var(--secondary-title-color);
  border-radius: 4px;
  text-align: center;
  padding-bottom: 30px;
  flex-basis: calc(100% / 4 - 30px);
  margin-left: 30px;
  margin-top: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-card-photo {
  margin-bottom: 30px;
}

.team-card-header {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
  margin-bottom: 10px;
}

.team-card-occupation {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.1875;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  margin-bottom: 16px;
}

.social-icon-bgd {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border: 0px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
}

.social-icon-bgd:not(:first-child) {
  margin-left: 10px;
}

.social-icon-bgd:hover, .social-icon-bgd:focus {
  background-color: var(--accent-color);
}

.social-icon-bgd:hover > .social-icon, .social-icon-bgd:focus > .social-icon {
  fill: var(--secondary-title-color);
}

.social-icon {
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  fill: var(--svg-fill);
}

.customers {
  padding: 94px 0px;
}

.customers-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customers-list-item {
  display: flex;
  justify-content: center;
  align-self: stretch;
  width: 170px;
  height: 92px;
}

.customers-list-item:not(:first-child) {
  margin-left: 30px;
}

.customers-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;
  border: 1px solid var(--svg-fill);
  border-radius: 4px;
}

.customers-list-link:hover, .customers-list-link:focus {
  border-color: var(--accent-color);
}

.customers-list-link:hover .icon, .customers-list-link:focus .icon {
  fill: var(--accent-color);
}

.customers-list-link > .icon {
  background-color: var(--header-background-color);
  fill: var(--svg-fill);
  width: 106px;
  height: 60px;
}

.footer {
  background-color: var(--footer-background-color);
  padding: 60px 0px;
}

.footer-container {
  display: flex;
}

.footer-logo {
  color: var(--footer-logo-color);
}

.logo-text {
  margin-bottom: 20px;
}

.street {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: var(--footer-logo-color);
}

.street:hover, .street:focus {
  color: var(--accent-color);
}

.footer-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.footer-mail {
  margin-top: 9px;
  margin-bottom: 9px;
}

.footer-social-block {
  margin-left: 70px;
  padding-top: 12px;
}

.footer-icons-list {
  color: var(--hero-text-color);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-social-icons {
  margin-top: 20px;
}

.footer-social-icon-bgd {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0px;
  border: 0px;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  margin: 0px;
}

.footer-social-icon-bgd:not(:first-child) {
  margin-left: 10px;
}

.footer-social-icon-bgd:hover, .footer-social-icon-bgd:focus {
  background-color: var(--accent-color);
}

.footer-social-icon-bgd:hover > .social-icon, .footer-social-icon-bgd:focus > .social-icon {
  fill: var(--secondary-title-color);
}

.footer-social-icon {
  background-size: cover;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  fill: var(--hero-text-color);
}

.footer-subscribe {
  margin-left: auto;
  padding-top: 12px;
}

.footer-subscribe-strong {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14286;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--header-background-color);
}

.subscribe-form {
  display: inline-flex;
}

.footer-subscribe-input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.input-window {
  border-style: none;
  border-radius: 4px;
  border: 1px solid var(--footer-email-input-border);
  width: 358px;
  height: 50px;
  background-color: transparent;
  padding: 15px 16px 15px 16px;
  outline: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.submit-button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline-style: none;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--header-background-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  margin: 0;
  padding: 0;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  border: none;
  margin-left: 12px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.submit-button:hover, .submit-button:focus {
  background: var(--button-hover-color);
}

.footer-submit-icon {
  width: 24px;
  height: 24px;
  fill: var(--hero-text-color);
  margin-left: 10px;
}

.portfolio-section {
  background-color: var(--secondary-title-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-filter {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.portfolio-button {
  font-family: inherit;
  border: none;
  border-radius: 4px;
  padding: 6px 22px;
  outline: none;
  background-color: var(--command-background-color);
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}

.portfolio-button:hover, .portfolio-button:focus {
  background-color: var(--accent-color);
  color: var(--secondary-title-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-list-item:not(:first-child) {
  margin-left: 8px;
}

.portfolio-list-item > .portfolio-button {
  padding: 6px 22px;
}

.portfolio-button,
.button {
  cursor: pointer;
}

.works {
  display: flex;
  margin-top: -30px;
  margin-left: -30px;
  flex-wrap: wrap;
}

.portfolio-img {
  display: block;
}

.works-list-item {
  flex-basis: calc((100% / 3) - 30px);
  margin-left: 30px;
  margin-top: 30px;
  transition: transform 300ms linear;
}

.works-list-item:hover, .works-list-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works-list-item:nth-child(n + 3) {
  margin-right: 0;
}

.works-list-item:nth-last-child(-n + 3) {
  margin-right: 0;
}

.works-list-item .thumb {
  position: relative;
  overflow: hidden;
}

.works-list-item:hover .works-card-description {
  transform: translateY(0);
}

.project-name-description {
  border: 1px solid var(--border-cards-color);
  border-top: none;
  padding: 20px 24px;
}

.works-header {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
}

.works-text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.works-card-description {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 64px 24px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translateY(100%);
  transition: transform 300ms linear;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.55556;
  letter-spacing: 0.03em;
  color: var(--hero-text-color);
  background-color: var(--card-overlay);
}

.modal {
  position: relative;
  width: 528px;
  min-height: 581px;
  background-color: var(--header-background-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  padding: 40px;
}

.close-btn {
  position: absolute;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background-color: transparent;
  border: 1px solid var(--modal-btn-border);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.close-btn:focus .close-ico,
.close-btn:hover .close-ico {
  fill: var(--accent-color);
}

.close-ico {
  fill: var(--logo-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-header {
  display: block;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 12px;
}

.modal-form {
  display: block;
  width: 448px;
  color: var(--primary-text-color);
}

.name,
.phone,
.mail,
.comment {
  position: relative;
  display: block;
  color: var(--primary-text-color);
  font-weight: normal;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  margin-bottom: 10px;
}

.comment {
  margin-bottom: 20px;
}

.modal-icon {
  position: absolute;
  fill: var(--logo-color);
  width: 18px;
  height: 18px;
  left: 12px;
  top: 50%;
  cursor: pointer;
}

.input-window.name,
.input-window.phone,
.input-window.mail,
.input-window.textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 11px 12px 11px 42px;
  width: 100%;
  cursor: pointer;
  margin-top: 4px;
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16667;
  letter-spacing: 0.01em;
  transition-property: border-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.input-window.name:focus,
.input-window.phone:focus,
.input-window.mail:focus,
.input-window.textarea:focus {
  border-color: var(--accent-color);
}

.input-window.name,
.input-window.phone,
.input-window.mail {
  height: 40px;
}

.input-window.name:focus + .modal-icon,
.input-window.phone:focus + .modal-icon,
.input-window.mail:focus + .modal-icon {
  fill: var(--accent-color);
}

.input-window.textarea {
  resize: none;
  padding: 12px 16px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 448px;
}

.agreement {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71429;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  cursor: pointer;
}

.craft-checkbox {
  display: flex;
  align-items: center;
  width: 16px;
  height: 15px;
  border: 1.8px solid var(--primary-title-color);
  border-radius: 4px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.agreement-text:checked + .craft-checkbox {
  background-color: var(--accent-color);
  fill: var(--secondary-title-color);
  border: none;
}

.agreement-text:hover + .craft-checkbox,
.agreement-text:focus + .craft-checkbox {
  border-color: var(--accent-color);
}

.agreement-link {
  text-decoration: none;
  text-decoration-line: underline;
  color: var(--accent-color);
  outline: none;
}

.agreement-link:focus {
  outline: 2px solid var(--accent-color);
  border-radius: 4px;
}

.modal-check-pic {
  width: 11px;
  height: 8px;
}

.modal-submit-button {
  display: block;
  border-style: none;
  outline-style: none;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--header-background-color);
  margin: 0 auto;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  padding: 0;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-submit-button:hover, .modal-submit-button:focus {
  background: var(--button-hover-color);
}
/*# sourceMappingURL=main.css.map */