.partners {
  padding: 94px 0px;
}
.partners-list {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.partners-list-item {
  display: flex;
  justify-content: center;
  align-self: stretch;

  width: 170px;
  height: 92px;
}

.partners-list-item:not(:first-child) {
  margin-left: 30px;
}

.partners-list-link:hover,
.partners-list-link:focus {
  border-color: var(--accent-color);
}

.partners-list-link:hover .icon,
.partners-list-link:focus .icon {
  fill: var(--accent-color);
}

.partners-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: inherit;
  height: inherit;

  border: 1px solid var(--svg-fill);
  border-radius: 4px;
}

.partners-list-link > .icon {
  display: flex;
  justify-content: center;
  align-items: stretch;

  background-color: var(--header-background-color);
  fill: var(--svg-fill);
  width: 106px;
  height: 60px;
}
