.header {
  background-color: var(--header-background-color);
  border-bottom: 1px solid var(--border-bottom-color);
  padding-top: 24px;
  padding-bottom: 25px;

  & > .container {
    display: flex;
    justify-content: space-between;
  }
}

.header-list,
.header-contacts {
  display: flex;
}

.header-list-item:not(:first-child),
.header-contacts-item:not(:first-child) {
  margin-left: 50px;
}

.header-list {
  @include font(normal, 500, 14px, 16px, 00.02em);
  margin-left: 93px;
}

.header-contacts {
  margin-left: auto;
  align-items: center;

  & .header-link {
    @include font(normal, 500, 14px, 16px, 00.02em);
    color: var(--primary-text-color);
  }

  & .contact-icon {
    fill: var(--primary-text-color);
    margin-right: 10px;
  }
}

.header-link {
  @include flex;
  color: var(--primary-title-color);
  &:hover,
  &:focus,
  &.current {
    color: var(--accent-color);
    & > .contact-icon {
      fill: var(--accent-color);
    }
  }
}
