.direction {
  padding: 94px 0px;
}

.direction-img {
  @include flex();
  background-color: var(--command-background-color);

  width: 270px;
  height: 120px;
}

.direction-container {
  display: flex;
}

.direction-list {
  display: flex;
}

.direction-lis {
  width: 270px;
  margin-left: 0px;
}

.direction-list-item:not(:first-child) {
  margin-left: 30px;
}

.direction-title {
  @include font(normal, bold, 14px, 16px, 0.03em);
  text-transform: uppercase;

  color: var(--primary-title-color);
  margin-top: 30px;
}

.direction-text {
  margin-top: 10px;
  @include font(normal, normal, 14px, 24px, 00.03em);
  color: var(--primary-text-color);
}
